/*------------------------ Universal  ------------------------*/
html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
  --cursive: 'Festive', cursive;
  --roboto_mono: 'Roboto Mono', monospace;
}

body {
  background-color: #424242;;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 700px;
  width: 400px;
  background-color: #FFB13D;
  font-family: var(--roboto_mono);
  border-radius: 5px;
  padding: 20px;
}

.btn {
  margin: 20px;
  border-radius: 5px;
  border-color: #6661F1;
  width: 100%;
  height: 50px;
  background-color: transparent;
  color: #6661F1;
  font-weight: bold;
  font-size: 20px;
  transition: none;
  box-shadow: none;
}

.btn:focus {
  box-shadow: none;
}

.a1{
  background-image: url("/assets/designs_rat.png");
  width: 90px; 
  height: 90px;
  background-size: 90px;
}
.a2{
  background-image: url("/assets/designs_ox.png");
  width: 90px; 
  height: 90px;
  background-size: 90px;
}
.a3{
  background-image: url("/assets/designs_tiger.png");
  width: 90px; 
  height: 90px;
  background-size: 90px;
}
.a4{
  background-image: url("/assets/designs_rabbit.png");
  width: 90px; 
  height: 90px;
  background-size: 90px;
}
.a5{
  background-image: url("/assets/designs_dragon.png");
  width: 90px; 
  height: 90px;
  background-size: 90px;
}
.a6{
  background-image: url("/assets/designs_snake.png");
  width: 90px; 
  height: 90px;
  background-size: 90px;
}
.a7{
  background-image: url("/assets/designs_horse.png");
  width: 90px; 
  height: 90px;
  background-size: 90px;
}
.a8{
  background-image: url("/assets/designs_goat.png");
  width: 90px; 
  height: 90px;
  background-size: 90px;
}
.a9{
  background-image: url("/assets/designs_monkey.png");
  width: 90px; 
  height: 90px;
  background-size: 90px;
}
.a10{
  background-image: url("/assets/designs_rooster.png");
  width: 90px; 
  height: 90px;
  background-size: 90px;
}
.a11{
  background-image: url("/assets/designs_dog.png");
  width: 90px; 
  height: 90px;
  background-size: 90px;
}
.a12{
  background-image: url("/assets/designs_pig.png");
  width: 90px; 
  height: 90px;
  background-size: 90px;
}



.a1-p{
  background-image: url("/assets/designs_rat.png");
  width: 20px; 
  height: 20px;
  background-size: 20px;
}
.a2-p{
  background-image: url("/assets/designs_ox.png");
  width: 20px; 
  height: 20px;
  background-size: 20px;
}
.a3-p{
  background-image: url("/assets/designs_tiger.png");
  width: 20px; 
  height: 20px;
  background-size: 20px;
}
.a4-p{
  background-image: url("/assets/designs_rabbit.png");
  width: 20px; 
  height: 20px;
  background-size: 20px;
}
.a5-p{
  background-image: url("/assets/designs_dragon.png");
  width: 20px; 
  height: 20px;
  background-size: 20px;
}
.a6-p{
  background-image: url("/assets/designs_snake.png");
  width: 20px; 
  height: 20px;
  background-size: 20px;
}
.a7-p{
  background-image: url("/assets/designs_horse.png");
  width: 20px; 
  height: 20px;
  background-size: 20px;
}
.a8-p{
  background-image: url("/assets/designs_goat.png");
  width: 20px; 
  height: 20px;
  background-size: 20px;
}
.a9-p{
  background-image: url("/assets/designs_monkey.png");
  width: 20px; 
  height: 20px;
  background-size: 20px;
}
.a10-p{
  background-image: url("/assets/designs_rooster.png");
  width: 20px; 
  height: 20px;
  background-size: 20px;
}
.a11-p{
  background-image: url("/assets/designs_dog.png");
  width: 20px; 
  height: 20px;
  background-size: 20px;
}
.a12-p{
  background-image: url("/assets/designs_pig.png");
  width: 20px; 
  height: 20px;
  background-size: 20px;
}

/*------------------------ 0. Header ------------------------*/

main > header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--roboto_mono);
}

header > h1 {
  display: flex;
  font-size: 22px;  
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  font-weight: bold;
}

/*------------------------ 1. Choose-Player Section ------------------------*/


main > #choose-player {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
}

main > #choose-player > #show-player {
  display: flex;
  /* flex-direction: ; */
  width: 100%;
  justify-content: space-between;
}

main > #choose-player > #show-player  > #scroll {
  width: 4.0em;
  height: 3.5em;
  border: dotted;
  overflow-y: scroll;
  overflow-x: hidden;
}

main > #choose-player > #show-player > #player-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  height: 4em;
  font-size: 12px;
}

main > #choose-player > #show-player > #scroll > .selection-img {
  width: 3.0em;
  height: 3.0em;
}


main > #choose-player > #show-player > #player-stats > p {
  margin: 0;
}

.select-button {
  margin: 20px;
  /* border-radius: 5px;
  border-color: #6661F1;
  width: 100%;
  height: 50px;
  background-color: transparent;
  color: #6661F1;
  font-weight: bold;
  font-size: 20px; */ 
  /* background-color: #6661F1; */
  /* color: whitesmoke; */
}

.select-button:hover {
  background-color: #6661F1;
  color: whitesmoke;
}

.select-button-b {
  margin: 20px;
  background-color: transparent;
  color: #ff6969;
  border-color: #ff6969
}

.select-button-b:hover {
  background-color: #ff6969;
  color: whitesmoke;
  
}

/*------------------------ 2. slot-machine Section ------------------------*/

main > #slot-machine {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 40%;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

main > #slot-machine > #slot-machine-pillars {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 20px;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

main > #slot-machine > #slot-machine-img {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  border-radius: 5px;
	background-color: #FAFAFA;
  align-items: center;
}

main > #slot-machine > #button-area {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  /* border-radius: 5px; */
  align-items: center;
}

main > #slot-machine > #button-area > .shuffle-button-player-a {
  width: 100%;
  margin: 0;
  border-color: #6661F1;
  color: #6661F1;
}

main > #slot-machine > #button-area > .shuffle-button-player-a:hover {
  background-color: #6661F1;
  color: whitesmoke;
}

main > #slot-machine > #button-area > .shuffle-button-player-b {
  width: 100%;
  margin: 0;
  border-color: #ff6969;
  color: #ff6969;
}

main > #slot-machine > #button-area > .shuffle-button-player-b:hover {
  background-color: #ff6969;
  color: whitesmoke;
}

.replay-button {
  border-color: crimson;
  color: crimson;
  margin: 0;
}

.replay-button:hover {
  background-color: crimson;
  color: whitesmoke;
  margin: 0;
}

#slot-machine > #turn-winner-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}



/*------------------------ 3. score-board Section ------------------------*/

#score-board {
  display: flex;
  flex-direction: row;
  width: 360px;
  height: 160px;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
}

#score-board > #scoreboard-title {
  width:100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

#score-board > #scoreboard-title > h3{
  font-size: 20px;
  font-weight: bold;
}

#score-board > #scoreboard-title > #tooltip-icon {
  width: 15px;
  height: 15px;
}

#score-board > #score-player {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  width: 30%;
  /* height: 100px; */
}

#score-board > #score-board-A {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* height: 100px; */
  width: 30%;
}

#score-board > #score-board-B {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* height: 100px; */
  width: 30%;
}

.score-board-a-turn {
  border-color: #6661F1;
  border-style: dotted;
  /* height: 100px; */
}

.score-board-b-turn {
  border-color: #ff6969;
  border-style: dotted;
  /* height: 100px; */
}

/* #score-board > #tool-tip {
  margin-top: 60px;
  font-size: 10px;
  width: 400px;
  padding-left: 20px;
  font-family: var(--roboto_mono);
} */


/*------------------------ Deprecated ------------------------*/


/*#choose-player > #player-stats   {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#show-player > #player-img{
  width: 2em;
  height: 2em;  
}

/*.player-b-select-btn {
  color: crimson;
  border-color: crimson;
}
*/

/*#ox-img {
  width: 30px; 
  height: 30px;
}*/



