html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
  --cursive: 'Festive', cursive;
  --roboto_mono: 'Roboto Mono', monospace;
}


body {
  background-color: whitesmoke;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  /* position: relative; */
}

body > header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--roboto_mono);
  
  
}

header > h1 {
  display: flex;
  font-size: 22px;  
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  font-weight: bold;
  
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 80%; */
  justify-content: flex-start;
  height: 800px;
  width: 400px;
  background-color: #FFB13D;
  font-family: var(--roboto_mono);
}

main > #choose-player {
  width: 80%;
  /* height: 100px; */
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  justify-content: space-between;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
}


.scroll {
  margin: 1em;
  font-size: 24px;
  width: 3.5em;
  height: 3.5em;
  border: dotted;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll > .selection-img {
  width: 3.0em;
  height: 3.0em;

}

#select-button {
  /* margin: 0; */
}

/* #choose-player > p { */
  /* margin: 0 20px 0 20px; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
/* } */

#show-player {
  width: 80%;
  /* margin-top: 1em; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}

#show-player > #player-img{
  width: 2em;
  height: 2em;  
}

#show-player > #player-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: ; */
  width: 250px;
  height: 4em;
  font-size: 12px;
}

#show-player > #player-stats > p {
  margin: 0;
}
.slot-machine {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 150px;
  /* border-style: solid; */
  align-items: center;
  justify-content: flex-start;
  margin-top: 60px;
  margin-bottom: 100px;
}

.slot-machine > #slot-machine-pillars {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 20px;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.slot-machine > #slot-machine-img {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 20px;
}

.slot-machine > #slot-machine-img > .zodiac-img {
  width: 90px; 
  height: 90px;
  border-style: solid;
  border-radius: 10%;
}

.button {
  width: 100px;
  height: 30px;
  border-radius: 10%;
  border-style: none;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  margin: 20px;
  font-size: 16px;
}

#play-button {
  background-color: #6661F1;
}

#replay-button {
  background-color: crimson;
}

#scoreboard-section-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

#score-board {
  display: flex;
  flex-direction: row;
  width: 360px;
  height: 160px;
  flex-wrap: wrap;
  /* align-items: center; */
  /* height: 80%; */
  justify-content: space-between;
  font-size: 14px;
  /* border-style: dotted; */
}

#score-board > #score-player {
  /* border-style: dotted; */
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 30%;
}

#score-board > #score-board-A {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* justify-content: space-between; */
  /* justify-content: flex-start; */
  /* border-style: dotted; */
  width: 30%;
}

#score-board > #score-board-B {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: flex-start;
  /* justify-content: flex-start; */
  /* border-style: dotted; */
  width: 30%;
}

#status-area {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}


#instructions {
  margin-top: 60px;
  font-size: 10px;
  width: 400px;
  padding-left: 20px;
  /* display: flex; */
  font-family: var(--roboto_mono);
}

#ox-img {
  width: 30px; 
  height: 30px;
}

