html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: whitesmoke;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 80%; */
  justify-content: space-evenly;
  height: 1000px;
}

h1 {
  margin-top: 50px;
}

.slot-machine {
  display: flex;
  margin: 100px;
  width: 420px;
  height: 120px;
  /* border-style: solid; */
  align-items: center;
  justify-content: center;
}

.slot-machine > .zodiac-img {
  width: 100px; 
  height: 100px;
  margin: 1px;
  border-style: solid;
}

.button {
  width: 100px;
  height: 30px;
  border-radius: 10%;
  border-style: none;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  margin: 20px;
}

#replay-button {
  background-color: crimson;
}

#score-board {
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 200px;
  flex-wrap: wrap;
  /* align-items: center; */
  /* height: 80%; */
  justify-content: space-evenly;
  font-size: 12px;
}

#score-board > #score-board-A {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#score-board > #score-board-B {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}