.slot-machine > .zodiac-img {
  width: 100px; 
  height: 100px;
}

#play-button {
  width: 100px;
  height: 30px;
  border-radius: 10%;
  border-style: none;
  background-color: crimson;
  color: white;
  font-weight: bold;
}